* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #101820;
    margin: 0px;
}

.nav-container {
    position: sticky;
    z-index: 100;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 12vh;
    background-color: #e10600;
}

.navbar-logo {
    justify-self: start;
    margin-left: 20px;
    color: #fff;
    margin-top: 4vh;
    cursor: pointer;
}

.mirar-carrito {
    font-size: 25px;
    margin-right: 20px;
    margin-top: 3.5vh;
    cursor: pointer;
}

.banner {
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://images5.alphacoders.com/656/656541.jpg");
}

.banner-container {
    text-align: center;
    padding: 15% 0;
}

.banner h1 {
    color: #fff;
    font-size: 56px;
    font-weight: bold;
}

.banner p {
    color: #fff;
    opacity: 0.7;
    font-size: 27px;
}